.header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    position: sticky;
}

.headerLeft,
.headerRight {
    flex-basis: 50%;
    align-self: center;
    padding: 0 10px;
}

.headerRight {
    text-align: right;
}

.header>h2,
.header>h3 {
    margin: 0;
    font-weight: 500;
}

.chatButton {
    border: none;
    text-decoration: none;
    color: rgb(0, 122, 255);
    background: transparent;
    font-size: 1.1em;
    line-height: 1;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    margin: 0;
    padding: 0 5px;
}

.chatButton:hover {
    color: rgb(10, 132, 255);
}

.usersDisplay {
    padding: 10px 0;
}

.usersDisplay>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chatInputContainer {
    display: flex;
    align-items: stretch;
    gap: 5px;
    padding: 0 10px;
    padding-bottom: env(safe-area-inset-bottom);
}

.chatInput {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #dddddd;
    color: #333;
}

.chatInput:focus {
    border-color: rgb(0, 122, 255);
}

.chatContainer {
    background: white;
    padding-bottom: 20px;
    border-radius: 20px;
    position: fixed;
    width: 100%;
    height: calc(100vh - 20px);
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.chatMsgContainer {
    list-style: none;
    padding-inline: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 10px;
    flex-grow: 1;
}

.chatMsg {
    align-self: flex-start;
    background-color: rgb(10, 132, 255);
    color: white;
    padding: 10px 20px 15px 15px;
    border-radius: 25px;
    margin: 5px 0;
    max-width: 50%;
}

.chatMsg>p {
    margin: 0;
    word-break: break-word;
}

.chatMsgSender {
    font-size: .7em;
    font-weight: 600;
    opacity: 0.6;
}

.myChatMsg {
    color: #333;
    background-color: #ddd;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    input,
    select,
    textarea {
        font-size: 16px;
    }
}